@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 80vw;
}
.body{
background-color: aqua;
}
.navbar{
    
    height: 67px;
    
}
.navbar li{
    font-family: Ubuntu, sans-serif;
    list-style: none;
   margin: 0px 12px;
}
.outer{
    height: 70px;
}
.topleft{
    height: 33%;
    padding: 33px 0px;
    margin: 50px 0px;
    background-image: url('https://www.vecteezy.com/free-vector/gaming');
    
}

.dis{
    justify-content: left;
}
.image{
  
  
}
.gaming{
    float: left;
}

.section2{

    padding-left: 33px;
    padding-right: 33px;
}
.section2 p{
padding: 0 26px;
text-align: center;
}
.sector2{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.box{
    padding: 12px 0;
    margin: 12px 22px;
    min-width: 23vw;
    border: 2px solid #6e2d04d3;
    border-radius: 8px;
    text-align: center;
}
.box ul{
    list-style: none;
}
.box ul li{
    margin: 12px 2px;
}
.box h2{
    padding: 12px 0;
}
.highlighted{
    font-size: 1.4rem;
    font-weight: bold;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 40px;
    border-collapse: collapse;
}
.section3 h1{
    font-size: 1.5rem;
    padding-left: 63px;
    padding-right: 63px;
}
.section3 table th{
    width: 22vw;
    border-bottom: 2px solid black;
   padding: 23px 0;
}
.section3 table td{
    width: 23vw;
    border-bottom: 2px solid black;
}
.section3 table tr{
    border-bottom: 2px solid black;
}
.section3{
    padding: 63px;
}
footer{
    padding: 22px;
    text-align: center;
}